<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portal UJMV</title>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/normalize.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  </head>
  <body>
    <div id="containerMsg" class="container-message">
      <div id="message" class="message"></div>
    </div>
    <div id="modal" class="modal hidden">
      <div id="container-modal" class="container-modal"></div>
    </div>
    <div class="bg hidden"></div>
    <header>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="svg-ham"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
        />
      </svg>

      <div class="container-perfil">
        <p>Pedro Ignacio Centeno Cabrera</p>
      </div>
    </header>
    <aside class="barra-lateral">
      <div class="container-logo">
        <img class="logo" src="imgs/logo_invertido.webp" alt="" />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="close"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18 18 6M6 6l12 12"
          />
        </svg>
      </div>
      <div id="container-acciones" class="container-acciones"></div>
    </aside>
    <main class="container-main">
      <div id="container-main" class="container-main-1"></div>
    </main>
    <script src="components/barra_lateral.js"></script>
    <script src="components/asignaciones.js"></script>
    <script type="module" src="js/index.js"></script>
  </body>
</html>
