:root {
  --rojo-principal: #ec1c2c;
  --rojo-secundario: #a3141f;
  --rojo-terciario: #ff5764;
  --gris-principal: #2c2c2c;
  --gris-texto: #737373;
  --gris-texto-sec: #d3d3d3;
}

body {
  display: grid;
  overflow-x: hidden;
}

.barra-lateral {
  display: none;
}

/*
<------------------------------------------------------------------------------->
                            Estilos nav  
*/

.navegacion {
  margin-top: 2rem;
  display: grid;
  gap: 10rem;
  grid-template-columns: 1fr 2.5fr;
}

.logo {
  place-self: end;
}

.imagen-prin {
  width: 15rem;
}

.container-links {
  display: flex;
  height: 100%;
  width: 90%;
  place-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.container-icon-ham {
  display: none;
}

.links {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.8rem;
  text-decoration: none;
  color: var(--gris-principal);
  transition: 0.3s;
}

.links:hover {
  color: white;
  background-color: var(--rojo-secundario);
  transition: 0.3s;
}

.list1 {
  position: relative;
}

.lista1 {
  margin: 0;
  border-radius: 0.5rem;
  color: white;
  z-index: 1;
  background-color: var(--rojo-secundario);
  padding: 0;
  padding: 0.5rem;
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 1.5rem;
  width: 8rem;
}

.list1 ul li {
  padding: 0;
  cursor: pointer;
  list-style: none;
}

.list1 ul li a {
  text-decoration: none;
  color: white;
}

.color-sec {
  background-color: var(--rojo-secundario);
  color: white;
}

.display {
  display: flex;
}
/*
<------------------------------------------------------------------------------->
                            Estilos main  
*/

.container-main {
  place-self: center;
  display: grid;
  width: 100vw;
  place-items: center;
}

/*
<------------------------------------------------------------------------------->
                            Estilos main 1 
*/

.container-main-1 {
  width: 80vw;
  box-shadow: -3px 7px 36px 7px rgba(0, 0, 0, 0.51);
  padding: 2rem;
  margin: 3rem 0;
  text-align: center;
}

.formulario {
  display: grid;
}

.container-main-1 div {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  margin: 1rem 0;
}

.requerido {
  font-size: 1.5rem;
  color: var(--rojo-principal);
  place-self: center start;
  margin-left: 0.5rem !important;
}

.container-radio {
  place-self: start;
  margin: 0 !important;
  display: flex !important ;
  gap: 1rem;
  flex-direction: column;
}

.container-radio div {
  display: flex;
  margin: 0;
  gap: 1rem;
}

select {
  margin-top: 1rem;
}

label {
  text-align: start;
  place-self: center start;
}

.labelRadio {
  place-self: start !important;
}

input[type="text"],
input[type="email"],
select,
textarea {
  border: 1px solid var(--gris-texto);
  border-radius: 0.3rem;
  outline: none;
  place-self: end;
  width: 30vw;
}

textarea {
  height: 128px;
  width: 30vw;
}

input[type="text"],
input[type="email"],
select {
  padding: 0.4rem 0.8rem;
}

.container-input-file {
  margin: 3rem 0 !important;
}

input[type="checkbox"] {
  place-self: start end;
  cursor: pointer;
}

.container-main-1 div p {
  text-align: justify;
  margin: 0;
  margin-left: 2rem;
}

h2 {
  margin: 4rem 0;
}

.container-file {
  margin: 0 !important;
  display: flex !important;
  align-items: end;
  place-self: end;
  grid-column-start: 3;
  grid-column-end: 4;
}

.upload-svg,
.delete-file {
  cursor: pointer;
  padding: 0.3rem;
  color: white;
  border-radius: 0.3rem;
  background-color: var(--rojo-principal);
  place-self: end;
  width: 1.5rem;
  height: 1.5rem;
}

.delete-file {
  background-color: var(--gris-texto);
  align-self: start;
}

.container-svg {
  gap: 0.5rem;
  display: flex !important ;
  margin: 0 !important;
}

.label-svg {
  place-self: end !important;
}

input[type="file"] {
  margin-left: 2rem;
  width: 13rem;
  place-self: start center;
}

input[type="file"]::-webkit-file-upload-button,
::file-selector-button {
  display: none;
}

input[type="submit"] {
  place-self: center;
  border: none;
  border-radius: 0.5rem;
  color: white;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: var(--rojo-principal);
  padding: 0.8rem 1rem;
  margin-top: 3rem;
}

.container-submit {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.form-final {
  place-self: center;
  margin: 5rem 0 !important;
}

/*
<------------------------------------------------------------------------------->
                            Estilos footer  
*/

.piepagina {
  background-color: var(--gris-principal);
  color: var(--gris-texto-sec);
  display: grid;
  gap: 2rem;
  padding: 3rem 0;
  grid-template-columns: repeat(3, 1fr);
  place-items: start center;
  height: auto;
  width: 100%;
  place-self: end;
}

.contacto-telf {
  display: flex;
  flex-direction: column;
}

.contacto-telf section {
  margin-left: 1rem;
  color: var(--gris-texto);
}

.ubicacion p {
  width: 15rem;
}

.seccion-redes a {
  text-decoration: none;
}

.icon {
  color: var(--gris-texto);
  width: 2rem;
  height: 2rem;
  transition: 0.3s;
}

.icon:hover {
  transition: 0.3s;
  color: var(--gris-texto-sec);
}

.container-contacts,
.container-contacts2 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/*
<------------------------------------------------------------------------------->
                            Estilos responsive  
*/

@media (max-width: 1030px) {
  .bg {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.315);
    position: fixed;
    display: none;
  }

  .show {
    display: block;
  }

  /*
<------------------------------------------------------------------------------->
                            Estilos nav responsive  
*/

  .navegacion {
    gap: 4rem;
  }
  .logo img {
    width: 40vw;
  }

  .container-icon-ham {
    display: block;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.8rem;
    margin-right: 3rem;
  }

  .logo {
    margin-left: 0.8rem;
  }

  .container-icon-ham svg {
    width: 2rem;
    height: 2rem;
  }

  .container-nav {
    display: grid;
    place-items: end;
  }

  .container-links {
    display: none;
  }

  /*
<------------------------------------------------------------------------------->
                            Estilos main responsive  
*/

  .container-main-1 div {
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }

  .container-main-1 div label {
    place-self: center;
    text-align: center;
  }

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    place-self: center;
  }

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    width: 70vw;
  }

  .requerido {
    margin: 0 !important;
  }

  .container-svg {
    display: flex !important;
    flex-direction: row !important;
  }

  .container-file {
    place-self: center;
    place-items: center !important;
  }

  .container-radio {
    display: flex;
    flex-direction: row !important;
    align-self: center !important;
  }

  .container-radio div {
    gap: 1rem;
  }

  .form-final {
    display: flex;
    gap: 0 !important;
    flex-direction: row !important;
  }

  /*
<------------------------------------------------------------------------------->
                            Estilos footer responsive  
*/

  .piepagina {
    display: flex;
    flex-direction: column;
    text-align: center;
    place-items: center;
  }

  /*
<------------------------------------------------------------------------------->
                            Estilos barra lateral  
*/

  .barra-lateral {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -51vw;
    height: 100%;
    z-index: 1;
    width: 50vw;
    gap: 1rem;
    transition: 0.3s;
    color: white;
    background-color: var(--rojo-principal);
  }

  .container-close {
    align-self: end;
    width: 2rem;
    margin-top: 2rem;
    margin-right: 1rem;
    height: 2rem;
  }

  .close {
    cursor: pointer;
  }

  .barra-lateral a {
    margin: 1rem 0;
  }

  .hover-link {
    width: 80%;
    padding: 1rem 0.7rem;
    cursor: pointer;
    border-radius: 0.3rem;
    transition: 0.3s;
  }

  .hover-link:hover,
  .hover-link-event:hover,
  .lista2 li:hover {
    background-color: var(--rojo-secundario);
    transition: 0.3s;
  }

  .hover-link-event {
    cursor: pointer;
    width: 80%;
    transition: 0.3s;
    border-radius: 0.3rem;
    padding: 0.5rem 0.6rem;
  }

  .container-links-2 {
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 0.3rem;
    place-items: start;
    flex-direction: column;
  }

  .lista2 {
    margin: 0 0 0.5rem 0;
    padding: 0;
    list-style: none;
    display: none;
  }

  .lista2 li {
    transition: 0.3s;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin: 0.5rem 0 0 1rem;
  }

  .container-links-2 a {
    color: white;
    text-decoration: none;
  }

  .container-event {
    display: grid;
    grid-auto-flow: column;
  }

  .arrow {
    place-self: center end;
    width: 1rem;
    height: 1rem;
    transition: 0.3s;
  }

  .arrow-animation {
    transform: rotate(-180deg);
    transition: 0.3s;
  }

  .lateral-animation {
    left: 0;
  }
}

.show {
  display: block;
}
